/**
 * Resume-tpl
 *
 * An open and free HTML template to make your own awesome resume!
 * Built with Sass, fully configurable. Wow!
 * 
 * @date 2015
 * @author Julien "Jibi" Bernard <jbernard@intechinfo.fr>
 **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* max-width 640px, mobile only */
/* min-width 1280px, large screens only */
/* Website stylesheet */
body {
  background: #ededed;
  font-family: "Open Sans", Arial, Tahoma;
  font-size: 85%;
}
body p {
  color: #363636;
  font-size: 1.05em;
}
body p.lead {
  font-weight: 600;
}
body ul.list {
  line-height: 1.25em;
  margin: 6px 0 0 12px;
  opacity: 0.8;
  list-style: circle inside none;
  transition: all 0.3s ease;
}
body ul.list.closer {
  line-height: 0;
  margin: 4px 0 0 8px;
  opacity: 0.9;
}
body ul.list li:hover {
  opacity: 1;
  padding-left: 6px;
  transition: all 0.4s ease;
}
body section {
  width: 75%;
  padding: 2%;
  margin: 100px auto auto auto;
  background: #fff;
}
@media screen and (max-width: 40em) {
  body section {
    width: 90%;
    padding: 3%;
  }
}
@media screen and (min-width: 80em) {
  body section {
    width: 65%;
    padding: 1%;
  }
}
body section #profile {
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 4%;
  margin: auto auto 4%;
  border-bottom: 2px solid #666;
}
@media screen and (max-width: 40em) {
  body section #profile {
    width: 100%;
    padding-bottom: 6%;
    margin-bottom: 6%;
  }
}
body section #profile .face {
  width: 150px;
  height: 150px;
  margin: calc(-1% - 75px) auto 1% auto;
  background: #fff url("images/profile-face.png") no-repeat center;
  background-size: contain;
  border-radius: 50%;
  border: 4px solid #ededed;
  box-shadow: inset 0 0 3px 0 #666;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#666, Direction=NaN, Strength=3);
  transition: all 0.4s ease-out;
}
body section #profile .face:hover {
  cursor: pointer;
  box-shadow: inset 0 0 125px 0 #333;
  transition: all 0.6s ease-in;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#333, Direction=NaN, Strength=125);
}
body section #profile .title {
  font-size: 1.8em;
  color: #363636;
  letter-spacing: -2px;
  font-weight: 800;
  line-height: 1.7em;
}
@media screen and (max-width: 40em) {
  body section #profile .title {
    font-size: 1.6em;
    line-height: 1em;
    margin-top: 8px;
  }
}
body section #profile h1 {
  font-size: 1.5em;
  color: #363636;
  font-weight: 600;
}
@media screen and (max-width: 40em) {
  body section #profile h1 {
    padding-top: 2%;
    font-size: 1.3em;
  }
}
body section #profile h1 span {
  color: #F0563D;
}
body section #body {
  padding: 0;
  margin: 0;
}
body section #body section {
  margin: 0;
  display: inline-block;
}
body section #body section aside {
  margin-bottom: 5%;
}
body section #body section aside h2:before {
  content: "//";
  margin-right: 6px;
}
body section #body section aside h2 {
  color: #EC7263;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
body section #body section aside p {
  line-height: 1.4em;
  letter-spacing: 0.6px;
}
body section #body section.half-section {
  width: 198%;
  padding: 1%;
  float: left;
}
body section #body section.half-section li {
  text-align: center;
  margin-bottom: 16px;
}
body section #body section.half-section h3 {
  font-size: 1.1em;
}
body section #body section.half-section h3 span {
  font-size: 0.8em;
  opacity: 0.6;
}
body section #body section.half-section h3 span:before {
  content: ',\A';
  opacity: 1;
  white-space: pre;
}
body section #body section.half-section hr {
  max-width: 140px;
  opacity: 0.4;
}
body section #body section.half-section .skill-rate {
  max-width: 140px;
  margin: auto;
  text-align: center;
}
body section #body section.half-section .skill-rate .rating {
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 50%;
  display: inline-block;
}
body section #body section.half-section .skill-rate .rating.blue {
  background: deepskyblue;
}
body section #body section.half-section .skill-rate .rating.red {
  background: orangered;
}
body section #body section.half-section .skill-rate .rating.green {
  background: greenyellow;
}
body section #body section.half-section .skill-rate .rating.pink {
  background: hotpink;
}
@media screen and (max-width: 40em) {
  body section #body section.half-section {
    width: 98%;
  }
}
@media screen and (min-width: 80em) {
  body section #body section.half-section {
    width: 48%;
  }
}
body section #body section.left-section {
  width: 50%;
}
@media screen and (max-width: 40em) {
  body section #body section.left-section {
    width: 98%;
  }
}
@media screen and (min-width: 80em) {
  body section #body section.left-section {
    width: 60%;
  }
}
body section #body section.left-section .experience {
  width: 100%;
}
body section #body section.left-section .experience aside {
  margin-top: 1%;
  margin-bottom: 1%;
}
body section #body section.left-section .experience h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 3px;
}
body section #body section.left-section .experience .right-column {
  width: auto;
  float: none;
  display: block;
  background: #ECF0F1;
  text-align: center;
  padding: 6px;
  transition: all 0.4s ease-out;
  margin: auto auto 1% auto;
}
body section #body section.left-section .experience .right-column i.fa {
  display: block;
  margin: auto;
}
body section #body section.left-section .experience .right-column h3 {
  margin-top: 6px;
}
body section #body section.left-section .experience .right-column .year {
  font-size: 0.9em;
  opacity: 0.7;
}
body section #body section.left-section .experience .right-column:hover {
  background: #34495E;
  color: white;
  transition: all 0.4s ease-out;
}
@media screen and (min-width: 80em) {
  body section #body section.left-section .experience .right-column {
    width: 18%;
    padding: 24px 2% 0 1%;
    float: right;
    margin-top: 1%;
    min-height: 80px;
  }
}
body section #body section.left-section .experience .left-column {
  width: auto;
  min-height: 70px;
  color: black;
  background: #E4F1FE;
  display: inline-block;
  padding: 12px;
  transition: all 0.4s ease-out;
}
body section #body section.left-section .experience .left-column h3 {
  color: #22313F;
}
body section #body section.left-section .experience .left-column p {
  color: black;
  opacity: 0.8;
  margin-top: 1%;
  font-size: 0.9em;
  line-height: 1.2em;
}
body section #body section.left-section .experience .left-column:hover {
  background: #6BB9F0;
  box-shadow: 2px 2px 4px #CCC;
  transition: all 0.6s ease-out;
}
@media screen and (min-width: 80em) {
  body section #body section.left-section .experience .left-column {
    width: 75%;
    padding: 12px 2% 12px 1%;
    min-height: 80px;
  }
}
body section #body section.right-section {
  width: 42%;
  float: right;
}
@media screen and (max-width: 40em) {
  body section #body section.right-section {
    width: 98%;
    float: none;
  }
}
@media screen and (min-width: 80em) {
  body section #body section.right-section {
    width: 32%;
    float: right;
  }
}
body section #body section.right-section li {
  text-align: left;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.9em;
  color: #555;
}
body section #body section.right-section li span {
  vertical-align: 50%;
}
body section #body section.right-section li a {
  text-decoration: none;
}
body section #body section.right-section li:hover {
  color: black;
}
body section #body section.right-section li.phone {
  list-style-image: url("images/icon-phone.png");
  margin-left: 24px;
}
body section #body section.right-section li.mail {
  list-style-image: url("images/icon-mail.png");
  margin-left: 24px;
}
body section #body section.right-section li.website {
  list-style-image: url("images/icon-website.png");
  margin-left: 24px;
}
body section #body section.right-section li.github {
  list-style-image: url("images/icon-github.png");
  margin-left: 24px;
}
body section #body section.right-section li.education {
  line-height: 1em;
  margin-left: -12px;
}
body section #body section.right-section li.education .title {
  display: inline;
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
body section #body section.right-section li.education .year:before {
  content: "(";
}
body section #body section.right-section li.education .year::after {
  content: ")";
}
body section #body section.right-section li.education div {
  padding-left: 8px;
}
body section #body section.right-section li.hobby {
  border-radius: 2px;
  background: deepskyblue;
  display: inline-block;
  color: white;
  padding: 6px;
  margin: 2px;
}
body section #body section.right-section li.hobby:hover {
  background: #3498DB;
  cursor: pointer;
  transition: all 0.6s ease-out;
}
body footer {
  width: 75%;
  padding: 0.4% 2% 0 2%;
  margin: auto auto 50px auto;
  text-align: right;
}
@media screen and (max-width: 40em) {
  body footer {
    width: 90%;
    text-align: center;
  }
}
@media screen and (min-width: 80em) {
  body footer {
    width: 65%;
  }
}
body footer a {
  color: #666;
  font-size: 1em;
  text-decoration: none;
}
body footer a:hover {
  color: #444;
  text-decoration: underline;
}
