// _globals.scss

$text-primary-color: #363636;
$text-primary-size: 13px;
$background-body-color: #ededed;
$background-section-color: #fff;

$responsive-break-small: 40em; /* max-width 640px, mobile only */
$responsive-break-large: 64em; /* min-width 1024px, large screens only */