// _globals.scss

$primary-color: #363636;
$secondary-color: #F0563D;
$text-primary-size: 13px;
$text-primary-fonts: "Open Sans", Arial, Tahoma;
$background-body-color: #ededed;
$background-section-color: #fff;

$responsive-break-small: 40em; /* max-width 640px, mobile only */
$responsive-break-large: 64em; /* min-width 1024px, large screens only */

$img-profile-face: "profile-face.png";
$text-profile-title-size: 1.4em;
$text-profile-short-pitch-size: 1.2em;