// _globals.scss

$primary-color: #363636;
$secondary-color: #F0563D;
$third-color: #EC7263;
$text-primary-size: 1.05em;
$text-primary-fonts: "Open Sans", Arial, Tahoma;
$background-body-color: #ededed;
$background-section-color: #fff;

$responsive-break-small: 40em; /* max-width 640px, mobile only */
$responsive-break-large: 80em; /* min-width 1280px, large screens only */

$img-profile-face: "images/profile-face.png";
$img-contact-phone: "images/icon-phone.png";
$img-contact-mail: "images/icon-mail.png";
$img-contact-website: "images/icon-website.png";
$img-contact-github: "images/icon-github.png";
$text-profile-title-size: 1.8em;
$text-h1-size: 1.5em;
$text-h2-size: 1.3em;