/**
 * Resume-tpl
 *
 * An open and free HTML template to make your own awesome resume!
 * Built with Sass, fully configurable. Wow!
 * 
 * @date 2015
 * @author Julien "Jibi" Bernard <jbernard@intechinfo.fr>
 **/

@import 'reset';
@import 'globals';	// Globals variables (colors, font-size ...)
@import 'settings';	// Globals settings (mixins)

/* Website stylesheet */

body {
  background: $background-body-color;
  font-family: $text-primary-fonts;
  font-size: 85%;

  p {
    color: $primary-color;
    font-size: $text-primary-size;
    
    &.lead {
      font-weight: 600;
    }
  }

  ul.list {
    line-height: 1.25em;
    margin: 6px 0 0 12px;
    opacity: 0.8;
    list-style: circle inside none;
    transition: all 0.3s ease;
    
    &.closer {
      line-height: 0;
      margin: 4px 0 0 8px;
      opacity: 0.9;
    }

    li:hover {
      opacity: 1;
      padding-left: 6px;
      transition: all 0.4s ease;
    }
  }

  section {
    width: 75%;
    padding: 2%;
    margin: 100px auto auto auto;
    background: $background-section-color;

    @media screen and (max-width: $responsive-break-small) {
      width: 90%;
      padding: 3%;
    }
    @media screen and (min-width: $responsive-break-large) {
      width: 65%;
      padding: 1%;
    }

    #profile {
      width: 90%;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 4%;
      margin: auto auto 4%;
      border-bottom: 2px solid #666;

      @media screen and (max-width: $responsive-break-small) {
        width: 100%;
        padding-bottom: 6%;
        margin-bottom: 6%;
      }

      .face {
        width: 150px;
        height: 150px;
        margin: calc(-1% - 75px) auto 1% auto;
        background: #fff url($img-profile-face) no-repeat center;
        background-size: contain;
        border-radius: 50%;
        border: 4px solid $background-body-color;
        box-shadow: inset 0 0 3px 0 #666;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#666, Direction=NaN, Strength=3);
        transition: all 0.4s ease-out;

        &:hover {
          cursor: pointer;
          box-shadow: inset 0 0 125px 0 #333;
          transition: all 0.6s ease-in;
          filter:progid:DXImageTransform.Microsoft.Shadow(color=#333, Direction=NaN, Strength=125);
        }
      }
      .title {
        font-size: $text-profile-title-size;
        color: $primary-color;
        letter-spacing: -2px;
        font-weight: 800;
        line-height: 1.7em;

        @media screen and (max-width: $responsive-break-small) {
          font-size: $text-profile-title-size - 0.2em;
          line-height: 1em;
          margin-top: 8px;
        }
      }
      h1 {
        font-size: $text-h1-size;
        color: $primary-color;
        font-weight: 600;

        @media screen and (max-width: $responsive-break-small) {
          padding-top: 2%;
          font-size: $text-h1-size - 0.2em;
        }

        span {
          color: $secondary-color;
        }
      }
    }

    #body {
      padding: 0;
      margin: 0;

      section {
        margin: 0;
        display: inline-block;

        aside {
          margin-bottom: 5%;

          h2:before {
            content: "//";
            margin-right: 6px;
          }
          h2 {
            color: $third-color;
            font-size: $text-h2-size;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 8px;
          }
          p {
            line-height: 1.4em;
            letter-spacing: 0.6px;
          }
        }
      }
      section.half-section {
        width: 198%;
        padding: 1%;
        float: left;

        li {
          text-align: center;
          margin-bottom: 16px;
        }
        h3 {
          font-size: 1.1em;

          span {
            font-size: 0.8em;
            opacity: 0.6;

            &:before {
              content: ',\A';
              opacity: 1;
              white-space:pre;
            }
          }
        }
        hr {
          max-width: 140px;
          opacity: 0.4;
        }
        .skill-rate {
          max-width: 140px;
          margin: auto;
          text-align: center;

          .rating {
            width: 12px;
            height: 12px;
            margin: 1px;
            border-radius: 50%;
            display: inline-block;

            &.blue {
              background: deepskyblue;
            }
            &.red {
              background: orangered;
            }
            &.green {
              background: greenyellow;
            }
            &.pink {
              background: hotpink;
            }
          }
        }

        @media screen and (max-width: $responsive-break-small) {
          width: 98%;
        }
        @media screen and (min-width: $responsive-break-large) {
          width: 48%;
        }
      }
      section.left-section {
        width: 50%;

        @media screen and (max-width: $responsive-break-small) {
          width: 98%;
        }
        @media screen and (min-width: $responsive-break-large) {
          width: 60%;
        }

        .experience {
          width: 100%;

          aside {
            margin-top: 1%;
            margin-bottom: 1%;
          }

          h3 {
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 3px;
          }
          .right-column {
            width: auto;
            float: none;
            display: block;
            background: #ECF0F1;
            text-align: center;
            padding: 6px;
            transition: all 0.4s ease-out;
            margin: auto auto 1% auto;

            i.fa {
              display: block;
              margin: auto;
            }
            h3 {
              margin-top: 6px;
            }
            .year {
              font-size: 0.9em;
              opacity: 0.7;
            }

            &:hover {
              background: #34495E;
              color: white;
              transition: all 0.4s ease-out;
            }

            @media screen and (min-width: $responsive-break-large) {
              width: 18%;
              padding: 24px 2% 0 1%;
              float: right;
              margin-top: 1%;
              min-height: 80px;
            }
          }
          .left-column {
            width: auto;
            min-height: 70px;
            color: black;
            background: #E4F1FE;
            display: inline-block;
            padding: 12px;
            transition: all 0.4s ease-out;

            h3 {
              color: #22313F;
            }
            p {
              color: black;
              opacity: 0.8;
              margin-top: 1%;
              font-size: 0.9em;
              line-height: 1.2em;
            }

            &:hover {
              background: #6BB9F0;
              box-shadow: 2px 2px 4px #CCC;
              transition: all 0.6s ease-out;
            }

            @media screen and (min-width: $responsive-break-large) {
              width: 75%;
              padding: 12px 2% 12px 1%;
              min-height: 80px;
            }
          }
        }
      }
      section.right-section {
        width: 42%;
        float: right;

        @media screen and (max-width: $responsive-break-small) {
          width: 98%;
          float: none;
        }
        @media screen and (min-width: $responsive-break-large) {
          width: 32%;
          float: right;
        }

        li {
          text-align: left;
          padding: 0.5em 1em 0.5em 1em;
          font-size: 0.9em;
          color: #555;

          span {
            vertical-align: 50%;
          }
          a {
            text-decoration: none;
          }
          &:hover {
            color: black;
          }
          &.phone {
            list-style-image: url($img-contact-phone);
            margin-left: 24px;
          }
          &.mail {
            list-style-image: url($img-contact-mail);
            margin-left: 24px;
          }
          &.website {
            list-style-image: url($img-contact-website);
            margin-left: 24px;
          }
          &.github {
            list-style-image: url($img-contact-github);
            margin-left: 24px;
          }
          &.education {
            line-height: 1em;
            margin-left: -12px;

            .title {
              display: inline;
              font-weight: 700;
              font-size: 1em;
              margin: 0;
              padding: 0;
            }
            .year:before {
              content: "(";
            }
            .year::after {
              content: ")";
            }

            div {
              padding-left: 8px;
            }
          }
          &.hobby {
            border-radius: 2px;
            background: deepskyblue;
            display: inline-block;
            color: white;
            padding: 6px;
            margin: 2px;

            &:hover {
              background: #3498DB;
              cursor: pointer;
              transition: all 0.6s ease-out;
            }
          }
        }
      }
    }
  }

  footer {
    width: 75%;
    padding: 0.4% 2% 0 2%;
    margin: auto auto 50px auto;
    text-align: right;

    @media screen and (max-width: $responsive-break-small) {
      width: 90%;
      text-align: center;
    }
    @media screen and (min-width: $responsive-break-large) {
      width: 65%;
    }

    a {
      color: #666;
      font-size: 1em;
      text-decoration: none;

      &:hover {
        color: #444;
        text-decoration: underline;
      }
    }
  }
}